In [136]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

In [137]:

df = pd.read_csv("Product Details.csv")
print(df)

     rating                summary  \
0         5      Terrific purchase
1         4             Delightful
2         5              Must buy!
3         5  Mind-blowing purchase
4         4              Very Good
..      ...                    ...
295       5         Classy product
296       5          Great product
297       5              Excellent
298       5               Terrific
299       5                Awesome

                                                review
0    Best Budget friendly smart tv one can buy, alt...
1    A nice tv to watch value for money better than...
2    Great tv.. just got my order within one day an...
3    Very good picture quality.. And sound is much ...
4    Great product for the price... Note: The only ...
..                                                 ...
295                                            Awesome
296                 Value of money nice one loved it ðŸ˜Š
297          Very nice product....You can go for it...
298                                  I love Flipkart ðŸ¤—
299                                                 Ok

[300 rows x 3 columns]

In [138]:
df.head()

,rating,summary,review
0,5,Terrific purchase,"Best Budget friendly smart tv one can buy, alt..."
1,4,Delightful,A nice tv to watch value for money better than...
2,5,Must buy!,Great tv.. just got my order within one day an...
3,5,Mind-blowing purchase,Very good picture quality.. And sound is much ...
4,4,Very Good,Great product for the price... Note: The only ...

In [139]:
df.tail()

     rating         summary                                     review
295       5  Classy product                                    Awesome
296       5   Great product         Value of money nice one loved it ðŸ˜Š
297       5       Excellent  Very nice product....You can go for it...
298       5        Terrific                          I love Flipkart ðŸ¤—
299       5         Awesome                                         Ok

In [140]:
# Convert the 'reviews' column to a list
reviews = df['review'].tolist()

# Create a CountVectorizer object with bigram tokenization
vectorizer = CountVectorizer(ngram_range=(2, 2))
X = vectorizer.fit_transform(reviews)
tfidf_transformer = TfidfTransformer()
tfidf_transformer.fit(X)
feature_names = vectorizer.get_feature_names_out()
tfidf_sum = np.asarray(X.sum(axis=0)).ravel() * tfidf_transformer.idf_
top_idx = tfidf_sum.argsort()[::-1][:20]
top_features = [feature_names[i] for i in top_idx]

for i, feature in enumerate(top_features):
    score = tfidf_sum[top_idx[i]]
    print(f"{i+1}. {feature}: {score:.3f}")

1. picture quality: 187.734
2. quality is: 143.690
3. this tv: 102.343
4. very good: 100.194
5. sound quality: 95.871
6. for money: 88.693
7. is good: 86.541
8. is very: 85.362
9. one plus: 83.968
10. value for: 81.168
11. this price: 75.937
12. good product: 70.516
13. tv is: 69.157
14. and sound: 62.952
15. in this: 61.982
16. nice product: 61.982
17. thank you: 57.259
18. is not: 55.987
19. quality and: 55.987
20. good picture: 52.885

In [141]:
positive_reviews = 0
negative_reviews = 0
neutral_reviews = 0

for i in range(len(df)):
    score = df['rating'][i]
    if score >= 4:
        positive_reviews += 1
    elif score <= 2:
        negative_reviews += 1
    else:
        neutral_reviews += 1

print(f"Positive reviews: {positive_reviews}")
print(f"Negative reviews: {negative_reviews}")
print(f"Neutral reviews: {neutral_reviews}")

Positive reviews: 237
Negative reviews: 46
Neutral reviews: 17